*,
*:focus,
*:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: 'C059';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/C059-Bold.woff2) format('woff2');
    src: url(../fonts/C059-Bold.woff) format('woff');
}

@font-face {
    font-family: 'C059';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/C059-Roman.woff2) format('woff2');
    src: url(../fonts/C059-Roman.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
    src: url(../fonts/Montserrat-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Montserrat-Medium.woff2) format('woff2');
    src: url(../fonts/Montserrat-Medium.woff) format('woff');
}

$color_title: #D0B48C;
$color_text: #E7CEAA;
$transition: all 0.3s ease;


body {
    background: #2E0D04;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #fff;


    &.locked {
        overflow: hidden;
    }
}

body,
form,
table {
    font: normal normal 14px/18px 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 130%;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "C059";
    color: $color_title;
    margin: 0;
    font-size: 46px;
    font-weight: 400;
    line-height: 115%;
}

h2 {
    font-size: 48px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
    text-align: center;

    &:after,
    &:before {
        content: '';
        display: block;
        border-radius: 2px;
        background: #D0B48C;
        width: 12px;
        height: 12px;
        transform: rotate(-45deg);
        aspect-ratio: 1/1;
    }

    &:after {
        display: none;
    }
}

h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    margin-bottom: 8px;
}

p {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    outline: none;
    display: inline-block;
    transition: $transition;

    &:hover {
        text-decoration: none;
    }
}

button,
iframe {
    border: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    position: relative;
    max-width: 1440px;
}

.container_bg {
    width: calc(100% - 30px);
    left: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;

    div {
        position: absolute;

        &:first-child {
            border: 1px solid #D0B48C;
            top: 4px;
            left: 4px;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            z-index: 1;
        }

        &:last-child {
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;

            span {
                background: #D0B48C;
                position: absolute;

                &:nth-child(1),
                &:nth-child(4) {
                    width: calc(100% - 40px);
                    left: 20px;
                    height: 1px;

                    &:after,
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 28px;
                        height: 1px;
                        background: #D0B48C;
                    }
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 1px;
                    top: 20px;
                    height: calc(100% - 40px);
                }

                &:nth-child(1) {
                    top: 0;

                    &:after {
                        top: 0;
                        left: 100%;
                        transform: rotate(45deg);
                        transform-origin: top left;
                    }

                    &:before {
                        top: 0;
                        right: 100%;
                        transform: rotate(-45deg);
                        transform-origin: top right;
                    }
                }

                &:nth-child(2) {
                    left: 0;
                }

                &:nth-child(3) {
                    right: 0;
                }

                &:nth-child(4) {
                    bottom: 0;

                    &:after {
                        bottom: 0;
                        left: 100%;
                        transform: rotate(-45deg);
                        transform-origin: bottom left;
                    }

                    &:before {
                        bottom: 0;
                        right: 100%;
                        transform: rotate(45deg);
                        transform-origin: bottom right;
                    }
                }

            }
        }
    }
}

.container_bg_mobile {
    display: none;
}

@media screen and (min-width: 577px) {
    .container {
        padding: 0 32px;
    }

    .container_bg {
        width: calc(100% - 64px);
        left: 32px;
    }
}

.container_small {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FDD5B2;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.48px;
    padding: 17px 60px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #FDD5B2;
    background: rgba(201, 128, 86, 0.35);
    box-shadow: 0 0 10px 4px rgba(253, 213, 178, 0.50) inset;
    backdrop-filter: blur(3.5px);
}

.btn_secondary {
    border-radius: 16px;
    border: 1px solid #D0B48C;
    background: rgba(46, 13, 3, 0.40);
    backdrop-filter: blur(4.186046600341797px);
    box-shadow: none;
    color: #E7CEAA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-family: "C059";
    width: fit-content;
}

.section {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site_slider {
    overflow: initial;

    .swiper-slide {
        width: 100%;
    }
}

.site_slider-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: initial;
    box-sizing: content-box;
    transform: translate3d(0px, 0, 0);
    flex-direction: column;
}

.site_slider-slide {
    flex-shrink: 0;
    width: 100%;
    height: 740px;
    position: relative;
    transition-property: transform;
    display: block;
}

@media (min-width: 768px) and (min-height: 740px) and (max-height: 1000px) {
    .site_slider {
        overflow: auto;
    }

    .site_slider {
        height: 100vh;
        height: 100svh;
        max-height: 1000px;
        min-height: 740px;
        touch-action: pan-x;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        display: block;
    }

    .site_slider-slide {
        height: 100%;
    }

    .footer {
        display: none;
    }

}

@media (max-height: 739px),
(min-height: 1001px),
(max-width: 767px) {
    .site_slider-slide {
        height: 100% !important;
    }

    .section {
        max-height: 1000px;
        height: 740px;
    }

    .events_block_full .events_list {
        overflow: auto;
        scrollbar-width: none;
    }
}

.events_block_full .events_list {
    overflow: auto;
    scrollbar-width: none;
}

.bg {
    overflow: hidden;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;

    span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img_bg {
    position: absolute;
}

// header
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .logo {
        width: 101px;
        margin-right: auto;
    }
}

.header_block {
    display: flex;
    align-items: center;
    padding-top: 72px;
}

.menu {
    &:last-child {
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    a {
        color: #D0B48C;
        font-family: "C059";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%;
    }
}

.mobile_menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.header_menu {
    a {
        position: relative;

        &:after {
            transition: $transition;
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: -12px;
            width: 0;
            height: 1px;
            background: #D0B48C;
        }

        &.active {
            &:after {
                width: 100%;
            }
        }
    }
}

// home
.home_section {
    display: flex;
    align-items: center;
    justify-content: center;

    .bg {
        background-position: 88% 65%;
        background-size: 123%;

        span {
            background:
                linear-gradient(0deg, #2E0D03 0%, rgba(46, 13, 3, 0.00) 11.34%, rgba(46, 13, 3, 0.00) 73.59%, #2E0D03 100%),
                linear-gradient(270deg, rgba(46, 13, 3, 0.50) 8.89%, rgba(46, 13, 3, 0.00) 19.57%, rgba(46, 13, 3, 0.00) 80.8%, rgba(46, 13, 3, 0.50) 91.08%), rgba(46, 13, 3, 0.50);
        }
    }

    .img_bg {

        &_1 {
            right: 5.5%;
            top: 17.5%;
            width: 19.8%;
            min-width: 147px;
        }

        &_2 {
            left: 4%;
            top: 39%;
            width: 36%;
            min-width: 244px;
        }
    }

}

.home_block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btns_wrapper {
    display: none;
    align-items: center;
    gap: 26px;
}

// text_section
.text_section {
    text-align: center;
    display: flex;

    .bg {
        background-position: 21% 50%;
        background-size: 116%;

        span {
            width: 100%;
            background:
                linear-gradient(0deg, #2E0D03 0%, rgba(46, 13, 3, 0.00) 11.34%, rgba(46, 13, 3, 0.00) 73.59%, #2E0D03 100%),
                linear-gradient(0deg, rgba(46, 13, 3, 0.00) 0%, rgba(46, 13, 3, 0.00) 100%);

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 70%;
                height: 100%;
                background: linear-gradient(90deg, #2E0D03 0%, rgba(46, 13, 3, 0.80) 55%, rgba(46, 13, 3, 0.00) 100%);
            }
        }
    }
}

.text_block {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    text-align: center;
    height: 100%;
    justify-content: center;
    padding-top: 50px;
}

// menu_section
.menu_section {
    .bg {
        background-position: center 50%;

        span {
            background:
                linear-gradient(0deg, #2E0D03 0%, rgba(46, 13, 3, 0.00) 11.34%, rgba(46, 13, 3, 0.00) 73.59%, #2E0D03 100%),
                linear-gradient(270deg, rgba(46, 13, 3, 0.50) 8.89%, rgba(46, 13, 3, 0.00) 19.57%, rgba(46, 13, 3, 0.00) 80.8%, rgba(46, 13, 3, 0.50) 91.08%), rgba(46, 13, 3, 0.30);
        }
    }

    .img_bg {

        &_1 {
            right: 0;
            top: 12%;
            width: 21.45%;
        }
    }
}

.menu_block {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 56px;
    margin-left: -140px;

    h2 {
        margin-bottom: 0;
    }

}

.list_block {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: fit-content;
    max-width: 713px;

    li {
        width: calc(50% - 2px);

        a {
            color: #E7CEAA;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "C059";
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            border-radius: 20px;
            border: 1px solid #D0B48C;
            background: rgba(46, 13, 3, 0.60);
            backdrop-filter: blur(7.5px);
            height: 175px;
        }
    }
}

// gallery_section
.swiper-button-next,
.swiper-button-prev {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid rgba(208, 180, 140, 0.30);
    background: rgba(46, 13, 3, 0.20);
    backdrop-filter: blur(2.5px);
    top: calc(50% + 10px);

    &:after {
        content: '';
        width: 13px;
        height: 23px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 10px;

    &:after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='6' height='11' viewBox='0 0 6 11' fill='none'%3e%3cpath d='M5 10L1 5.5L5 1' stroke='%23D0B48C'/%3e%3c/svg%3e");
    }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 10px;

    &:after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='6' height='11' viewBox='0 0 6 11' fill='none'%3e%3cpath d='M1 10L5 5.5L1 1' stroke='%23D0B48C'/%3e%3c/svg%3e");
    }
}

.swiper-pagination {
    bottom: 7px !important;
    width: 100% !important;
}

.swiper-pagination-bullet {
    margin: 0 6px !important;
    background: rgba(208, 180, 140, 0.40);
    width: 4px;
    height: 4px;
    transition: $transition;
}

.swiper-pagination-bullet-active {
    width: 24px;
    height: 6px;
    border-radius: 14px;
    background: #FDD5B2;
}

.gallery_block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;

    h2 {
        margin-bottom: 0;
    }
}

.gallery_title {
    max-width: 372px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_wrapper {
    position: relative;
    overflow: hidden;
}

.slider_block {
    padding: 40px 33px;
    margin-top: 50px;
    position: relative;
    width: calc(100% - 372px);
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    position: relative;
    left: 50%;
    width: 200vw;
    transform: translate(-50%);

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2E0D04;
        width: 280px;
        height: auto;
        transition: opacity 500ms ease, transform 500ms cubic-bezier(.2, .9, .2, 1);
        will-change: transform;
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(46, 13, 4, 0.80);
            z-index: 1;
            transition: opacity 500ms ease, background 500ms ease;
        }

        .gallery_img {
            margin: auto;
            border-radius: 8px;
            transition: border-radius 500ms ease;
        }

        video {
            width: 100%;
            margin: auto;
            border-radius: 8px;
        }

        &.swiper-slide-next,
        &.swiper-slide-prev {
            background: rgba(46, 13, 4, 0.60);
        }

        &.swiper-slide-active {
            &:after {
                opacity: 0;
                pointer-events: none;
            }

            .gallery_img,
            video,
            .plyr__video-wrapper,
            .plyr--video,
            .player_video_bg {
                border-radius: 16px;
            }
        }
    }

}

:root {
    --plyr-color-main: #D0B48C;
}

.player_video_wrapper {
    position: relative;
    overflow: hidden;
}

.player_video_bg {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.player_video_bg_btn {
    cursor: pointer;
}

.plyr--video {
    background: #2E0D04;
    border-radius: 8px;
}

.plyr__video-wrapper {
    background: #2E0D04;
    border-radius: 8px;
}

.plyr__poster {
    background-color: #2E0D04;
    background-size: 110%;
}

// contacts_section
.contacts_section {
    .bg {
        background-position: center 74.5%;
        transform: scaleX(-1);

        span {
            background:
                linear-gradient(0deg, #2E0D03 0%, rgba(46, 13, 3, 0.00) 11.34%, rgba(46, 13, 3, 0.00) 73.59%, #2E0D03 100%),
                linear-gradient(0deg, rgba(46, 13, 3, 0.80) 0%, rgba(46, 13, 3, 0.80) 100%);
        }
    }
}

.contacts_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    gap: 90px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.contacts_list {
    max-width: 312px;
    width: 100%;

    .item {
        display: block;
        width: 100%;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin-bottom: 20px;
        padding-bottom: 20px;
        stroke-width: 1px;
        border-bottom: 1px solid rgba(208, 180, 140, 0.15);


        img {
            margin-right: 8px;
        }

        &.text {
            font-size: 14px;
        }
    }
}

.social_item {
    display: block;
    text-align: center;
}

.map {
    width: calc(100% - 312px - 90px);
    height: 345px;
    border-radius: 30px;
    overflow: hidden;
    background: #A77F63;
}

.marker_wrapper {
    width: auto;
    margin-top: -70px;
    margin-left: -29px;
    display: flex;
    align-items: center;
    min-width: 58px;
    position: relative;
}

.my-marker {
    width: 58px;
    height: auto;
    flex: 0 0 auto;
}

// footer
.footer {
    padding-top: 47px;
    padding-bottom: 47px;
    background: linear-gradient(0deg, #210A03 44.71%, rgba(47, 13, 3, 0.00) 100%);

    .text {
        color: #D0B48C;
        text-align: center;
    }
}

// events_section
.events_section {
    .bg {
        background-position: center 74.5%;

        span {
            background:
                linear-gradient(0deg, #2E0D03 0%, rgba(46, 13, 3, 0.00) 11.34%, rgba(46, 13, 3, 0.00) 73.59%, #2E0D03 100%),
                linear-gradient(0deg, rgba(46, 13, 3, 0.80) 0%, rgba(46, 13, 3, 0.80) 100%);
        }
    }
}

.events_block {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 60px;

    .btn {
        margin-top: 48px;
        max-width: 400px;
        width: 100%;
    }
}

.events_title {
    max-width: 390px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        margin-bottom: 0;
    }
}

.events_list {
    .item {
        position: relative;

        &:not(:last-child) {
            padding-bottom: 24px;
            margin-bottom: 24px;

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 210px;
                height: 1px;
                background: #D0B48C;
            }
        }

        h4 {
            max-width: 490px;
        }

        .text {
            max-width: 400px;
        }

        .date {
            opacity: 0.7;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            margin-top: 16px;
        }
    }
}

.events_block_full {
    visibility: hidden;
    pointer-events: none;
    display: flex;
    align-items: flex-start;
    padding-top: 140px;
    gap: 180px;
    padding-left: 88px;
    height: 100%;

    &.active {
        visibility: visible;
        pointer-events: initial;
    }

    &[style*="display: block"] {
        display: flex !important;
    }

    h2 {
        margin-bottom: 48px;
        text-align: left;
        align-items: flex-start;

        &:before {
            display: none;
        }
    }

    .text {
        max-width: 490px;
    }

    .events_slider {
        margin: 0;
        height: 100%;

        .swiper-slide {
            height: auto;
        }
    }

    .events_list {
        // overflow: auto;
        height: 100%;
        padding-bottom: 60px;
        // scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .item {
            &:not(:last-child) {
                margin-bottom: 40px;
                padding-bottom: 40px;
            }
        }
    }

    .events_list_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: calc(100% - 180px);

        h2 {
            br {
                display: none;
            }
        }
    }
}

.events_back {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "C059";
    color: #E7CEAA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding-top: 27px;
    flex: 0 0 auto;
}

@media screen and (max-width:1300px) {
    .menu_block {
        margin-left: 0;
    }
}

@media screen and (max-width:1300px) and (min-width:1101px) {
    .swiper-slide {
        &:not(.swiper-slide-next, .swiper-slide-prev) {
            &:after {
                background: #2E0D04;
            }
        }

    }
}

@media screen and (max-width:1200px) {
    .gallery_title {
        width: 300px;
    }

    .slider_block {
        width: calc(100% - 300px);
    }

    .menu ul {
        gap: 20px;
    }

    .events_block_full {
        gap: 120px;
    }

}

@media screen and (max-width:1000px) {
    // .section {
    //     max-height: 724px;
    // }

    .home_section .bg {
        background-position: 48% 65%;
        background-size: cover;
    }

    .menu_block {
        padding-left: 20px;
        padding-right: 20px;
    }

    .gallery_block {
        padding-left: 6px;
        padding-right: 6px;
    }

    .section {
        padding-top: 64px;

        .container_bg {
            display: none;
        }
    }

    .container_bg_mobile {
        display: flex;
        top: 15px;
        height: calc(100% - 30px);
        z-index: 110;
    }

    .text_block {
        padding-top: 0;
        max-width: 100%;
        justify-content: flex-start;
    }

    .text_section,
    .events_section,
    .menu_section {
        .bg {
            span {
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 420px;
                    background: linear-gradient(180deg, #2E0D03 0%, rgba(46, 13, 3, 0.00) 100%);
                }

                &:before {
                    height: 143px;
                    background: linear-gradient(0deg, #2E0D03 0%, rgba(46, 13, 3, 0.00) 100%);
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                }
            }
        }
    }

    .text_section {
        .bg {
            span {
                background: transparent;
            }
        }

        h2 {
            gap: 36px;

            &:after {
                display: none;

            }

            &:before {
                display: block;
            }
        }
    }

    .home_section .bg {
        background-image: url(../imgs/img_6.jpg) !important;

        span {
            background: rgba(46, 13, 3, 0.6);

            &:before {
                height: 143px;
                background: linear-gradient(0deg, #2E0D03 0%, rgba(46, 13, 3, 0.00) 100%);
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
            }
        }
    }

    .events_section .bg {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background: linear-gradient(180deg, #2E0D03 0%, rgba(46, 13, 3, 0.90) 71.9%, rgba(46, 13, 3, 0.00) 130.73%);
        }

        span {
            background: radial-gradient(41.83% 25.55% at 50% 83.73%, rgba(46, 13, 4, 0.00) 0%, rgba(46, 13, 4, 0.60) 100%);
            box-shadow: 0 4px 12.3px 0 rgba(0, 0, 0, 0.50);

            &:after {
                height: 203px;
            }
        }
    }

    .header {
        pointer-events: none;
    }

    .header_block {
        padding: 40px 27px 0;
        pointer-events: none !important;
    }

    .home_section {
        padding-top: 32px;

        .img_bg {
            &_1 {
                right: 2.5%;
                top: 2.5%;
            }

            &_2 {
                left: -4%;
                top: 46%;
            }
        }
    }

    .home_block {
        flex-direction: column;

        .logo {
            margin: auto;
        }
    }

    .btns_wrapper {
        display: flex;
    }

    .mobile_menu {
        height: 100%;
        max-width: 100%;
        overflow: auto;
        padding: 92px 30px 64px;
        position: fixed;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        transition: transform .3s ease;
        width: 100%;
        flex-direction: column;
        z-index: 100;
        background: linear-gradient(180deg, #2E0D03 0%, rgba(46, 13, 3, 0.90) 85.61%, rgba(46, 13, 3, 0.00) 144.75%);
        pointer-events: all;


        &.active {
            transform: translateY(0);
        }

        .logo {
            margin-left: auto;
        }

        .menu {
            margin-bottom: 0;

            &:first-of-type {
                margin: auto;
                padding: 40px 0;
            }

            &:last-of-type {
                border-top: 1px solid #D0B48C;
                padding-top: 32px;
                width: 150px;
            }

            ul {
                flex-direction: column;
                align-items: center;
            }
        }

        .container_bg {
            display: flex;
            top: 15px;
            height: calc(100% - 30px);
            width: calc(100% - 30px);
            left: 15px;

            div:last-child {
                z-index: 1;
            }
        }

        .logo {
            width: 116px;
        }
    }

    .menu_btn {
        cursor: pointer;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        position: relative;
        z-index: 120;
        display: flex;
        pointer-events: all;

        &.active {
            span {
                background: transparent;

                &:after,
                &:before {
                    top: 11px;
                    width: 80%;
                    left: -7px;
                }

                &:before {
                    transform: rotate(135deg);
                }

                &:after {
                    transform: rotate(-135deg);
                }
            }
        }

        span {
            height: 1px;
            position: relative;
            width: 40px;
            transition: $transition;
            background: transparent;
            border-radius: 10px;

            &:after,
            &:before {
                content: "";
                display: block;
                height: inherit;
                left: 0;
                position: absolute;
                top: 0;
                width: inherit;
                background: #FDD5B2;
                transition: $transition;
                border-radius: 10px;

            }

            &:after {
                top: 8px;
                width: 25px;
            }

            &:before {
                top: 0;
                width: inherit;
            }
        }
    }

    .menu_block {
        flex-direction: column;
        margin-left: 0;
        justify-content: flex-start;
        gap: 36px;
    }

    .menu_section {
        .bg span {
            background: transparent;

            &:after {
                height: 203px;
            }
        }

        .img_bg_1 {
            top: 1%;
        }
    }

    .gallery_block {
        flex-direction: column;
    }

    .slider_block {
        margin-top: 0;
        height: 100%;
        height: auto;
    }

    .gallery_title {
        max-width: 100%;
    }

    .gallery_title br {
        display: none;
    }

    h2 {
        &:after {
            display: block;

        }

        &:before {
            display: none;
        }
    }

    .events_block {
        flex-direction: column;
        gap: 36px;

        .btn {
            margin-left: auto;
            margin-right: auto;
        }

    }

    .events_list_wrapper {
        text-align: center;
    }

    .events_list .item:not(:last-child):after {
        left: 50%;
        width: 127px;
        transform: translateX(-50%);
    }

    .gallery_title {
        h2:after {
            display: none;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .slider_block {
        padding: 40px 0;
        width: 100%;
    }

    .contacts_block {
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }

    .map {
        width: 100%;
    }

    .events_block_full {
        flex-direction: column;
        padding: 0 27px;
        gap: 3px;

        .events_list_wrapper {
            align-items: center;
            width: 100%;
            height: calc(100% - 37px);

            h2 {
                align-items: center;
                text-align: center;

                br {
                    display: block;
                }
            }
        }

        .events_list {

            .item:not(:last-child) {
                padding-bottom: 24px;
                margin-bottom: 24px;
            }
        }
    }

    .events_list_wrapper {
        width: 100%;
    }

    .events_list {
        width: 100%;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .events_back {
        font-size: 0;
        border-radius: 12px;
        border: 1px solid #D0B48C;
        background: rgba(46, 13, 3, 0.40);
        backdrop-filter: blur(4.2px);
        width: 56px;
        height: 35px;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;
        margin-left: auto;
    }
}

@media screen and (max-width:768px) {
    .home_block .logo {
        width: 182px;
    }

    .btn {
        min-width: 125px;
        border-radius: 16px;

        &:not(.btn_secondary) {
            font-size: 16px;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -0.32px;
            padding: 13px 20px;
        }
    }

    .btn_secondary {
        padding: 17.5px 20px;
    }

    h2 {
        font-size: 40px;

        &:after {
            width: 10px;
            height: 10px;
        }
    }

    .list_block li a {
        height: 100px;
        font-size: 20px;
    }
}

@media screen and (max-width:576px) {

    body,
    form,
    table {
        font-size: 14px;
    }

    h2 {
        font-size: 30px;

        &:after {
            width: 8px;
            height: 8px;
        }
    }

    h4 {
        font-size: 16px;
    }

    .list_block li a {
        font-size: 16px;
    }

    .header_block {
        padding-top: 22px;
    }

    .home_section {
        overflow: hidden;

        .img_bg {
            &_1 {
                right: -10.5%;
                top: 3.5%;
            }

            &_2 {
                left: -11%;
                top: 49%;
            }
        }
    }

    .text_section .bg {
        background-position: 59% 50%;
        background-size: cover;
    }

    .events_list .item {

        &:nth-child(2) {
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;

            &:after {
                display: none;
            }
        }

        &:nth-child(3) {
            display: none;
        }

        &:not(:last-child) {
            padding-bottom: 32px;
            margin-bottom: 32px;
        }
    }

    .events_block .btn {
        margin-top: 64px;
    }

    .list_block {
        flex-direction: column;
        width: 100%;
        max-width: 258px;

        li {
            width: 100%;
        }
    }

    .swiper-slide img {
        max-height: 430px;
    }

    .contacts_block {
        justify-content: flex-start;
    }

    .map {
        height: 160px;
    }
}